.table{
    width: 100%;
    border-collapse: collapse;
}

th {
    border: 1px solid #ddd;
    padding: 8px;
}

.row-main{
    color: white;
    background-color: rgb(127, 46, 129);
}

button{
    margin: 10px;
    padding: 10px;
}

